
.has-error.form-control{
    border: 1px solid red;}


    .btn-primary{
        color: #fff;
        background-color: #33b5e5 !important;
        border-color: #33b5e5 !important;
        font-weight: bold;
        font-size: 20px;
    }
    .card{
        box-shadow: 0px 2px 22px 0px #ccc;
    }
    .card-header{
        box-shadow: 0px 2px 12px 0px #d4edf7;
        background-color: #33b5e5;
        color: #fff;
        border: none;
    }


    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    
    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    
    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    
    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }