<div>
    <h2 class="main-header">Confirm Account Number</h2>
  
    <a routerLink="/sidebar/home/money" class="btn btn-link">Money Tranfer</a>
    <form name="form" style="padding-top: 30px;" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mobilenumber.valid }">
        <label for="mobilenumber">Enter Mobile Number</label>
        <input type="text" class="form-control" name="mobilenumber" [(ngModel)]="MobileNumber" #mobilenumber="ngModel" required />
       
        <div *ngIf="f.submitted && !mobilenumber.valid" class="help-block">Mobile Number is required</div>
    </div>
     
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bankname.valid }">
        <label for="bankname">Select Bank Name</label>
        <select class="form-control" (change)="changeBank($event)" name="bankname" [(ngModel)]="BankId" #bankname="ngModel" required>
          <option [disabled]="BankId" value="undefined">Select Bank Name</option>
        
          <option *ngFor="let bnk of bankList" [value]="bnk.id">{{bnk.bank_name}}</option>
        </select>
        <div *ngIf="f.submitted && !bankname.valid" class="help-block">Bank Name is required</div>
    </div>



      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !bankcode.valid }">
          <label for="bankcode">Enter Bank Code</label>
          <input [disabled]="BankCode" type="text" class="form-control" name="bankcode" [(ngModel)]="BankCode" #bankcode="ngModel" required />
         
      </div>
  
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ifsc.valid }">
        <label for="ifsc">Enter IFSC Code</label>
        <input [disabled]="IFSC" type="text" class="form-control" name="ifsc" [(ngModel)]="IFSC" #ifsc="ngModel" required />
        
    </div>
  
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !account.valid }">
          <label for="account">Enter Account Number</label>
          <input type="text" class="form-control" name="account" [(ngModel)]="Account" #account="ngModel" required />
          <div *ngIf="f.submitted && !account.valid" class="help-block">Account Number is required</div>
      </div>
      
      
        
      
  
   
  
  
      <div class="row">
        <div class="form-group" style="padding-left: 30px;">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Submit
        </button>
        </div>
  
  <div style="padding-left: 15px;" class="form-group">
        <button class="btn btn-primary" routerLink="/sidebar/home/category"> Cancel </button>
      </div>
        
      </div>
  </form>
  
  
  
    
      
    </div>
  
  
  
  
  
  
  
  