
<div class="main-content login-center">
<div class="card">
    <h2 class="card-header">OTP sent successfully</h2>

    <div class="card-body"> 
    
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  
      
     
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !otp.valid }">
          <label for="otp">Enter OTP</label>
          <input type="text" class="form-control" name="otp" [(ngModel)]="OTP" #otp="ngModel" required />
          <div *ngIf="f.submitted && !otp.valid" class="help-block">OTP is required</div>
      </div>
  
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <label for="password">Enter new password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="Password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block">New Password is required</div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
        <label for="confirmpassword">Confirm new password</label>
        <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="ConfirmPassword" #confirmpassword="ngModel" required />
        <div *ngIf="f.submitted && !confirmpassword.valid" class="help-block"> Password is required</div>
    </div>
  
    <div class="row">
      <div class="form-group" style="padding-left: 120px;">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
      </button>
      </div>

<div style="padding-left: 15px;" class="form-group">
      <button class="btn btn-primary" routerLink="../login"> Cancel </button>
    </div>
      
    </div>
  </form>
  
  
</div>
    
      
    </div>
  
  </div>
  
  
  
  
  