<div class="col-md-6 offset-md-3 mt-5" style="padding-top: 20px;">

    <h2 style="color:tomato">For Queries and Complaints</h2>

    <h4>Call us: 09306423474</h4>

    <h4>Email us: customer.care@paymytech.in</h4>

    <h2 style="color:tomato; padding-top: 30px;">24x7 Help</h2>

    <p style="text-align: justify;">You can also use your PayMyTech App for raising a complaint.</p>

    <h2 style="color:tomato; padding-top: 30px;">PayMyTech Trust</h2>

    <p style="text-align: justify;">Your money is yours! All refunds come with no question asked guarantee.</p>


    

    <h2 style="color:tomato; padding-top: 30px;">Our Promise</h2>

    <p style="text-align: justify;">Happiness is guaranteed at SafePay. If we fall short of your expectations, give us a shout.</p>


</div>