<div class="main-content login-center" *ngIf="isForget">

<div class="card text-center">
    <h4 class="card-header">Forget Password</h4>
  
    <div class="card-body">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mobile.valid }">
        
        <input type="text" pattern="^\s*(([+]\s?\d[-\s]?\d|0)?\s?\d([-\s]?\d){9}|[(]\s?\d([-\s]?\d)+\s*[)]([-\s]?\d)+)\s*$" placeholder="Mobile Number" class="form-control" name="mobile" [(ngModel)]="Mobile" #mobile="ngModel" required />
       
        <div *ngIf="f.submitted && !mobile.valid" class="help-block">Mobile Number is required</div>
        <div *ngIf="mobile.errors?.pattern" class="help-block" style="color:red">Mobile Number is not valid!</div>
    </div>
     
      <div class="row">
      <div class="form-group" style="padding-left: 120px;">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
      </button>
      </div>

<div style="padding-left: 15px;" class="form-group">
      <button class="btn btn-primary" routerLink="../login"> Cancel </button>
    </div>
      
    </div>
  
    </form>
  
</div>
  
    
      
    </div>
  
</div>
  
  
  
  
<div class="div-center" *ngIf="isOTP">
    <div class="card">
        <h2 class="card-header">OTP sent successfully</h2>
    
        <div class="card-body"> 
        
        <form name="form" (ngSubmit)="f.form.valid && onResetPassword()" #f="ngForm" novalidate>
      
          
         
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !otp.valid }">
              
              <input type="text" placeholder="OTP" class="form-control" name="otp" [(ngModel)]="OTP" #otp="ngModel" required />
              <div *ngIf="f.submitted && !otp.valid" class="help-block">OTP is required</div>
          </div>
      
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        
            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!£^-_-+~#%*?&])[A-Za-z\d@$!£^-_-+~#%*?&]{8,}$" validateEqual="confirmpassword" reverse="true" placeholder="Password" class="form-control" autocomplete="new-password" name="password" [(ngModel)]="Password" #password="ngModel" required />
           
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
       
            <div *ngIf="password.errors?.pattern" class="help-block" >Minimum 8 characters, at least one uppercase letter, one lowercase letter, one number and one of this special character (@$!£^-_-+~#%?&)</div>  
        </div>
    
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
            
            <input type="password" placeholder="Confirm Password" validateEqual="password" class="form-control" name="confirmpassword" [(ngModel)]="ConfirmPassword" #confirmpassword="ngModel" required />
            <div *ngIf="f.submitted && !confirmpassword.valid" class="help-block"> Password Mismatch</div>
        </div>
      
        <div class="row">
          <div class="form-group" style="padding-left: 120px;">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Reset Password
          </button>
          </div>
    
    <div style="padding-left: 15px;" class="form-group">
          <button class="btn btn-primary" routerLink="../login"> Cancel </button>
        </div>
          
        </div>
      </form>
      
      
    </div>
        
          
        </div>
      
      </div>
      
      
      
      
      
  


   
<!-- <h2>Commission Details</h2>

<table class="styled-table">
    <thead>
        <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 20%">Provider Name</th>
            <th style="width: 10%">ProviderID</th>
            <th style="width: 20%">Commission</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let report of commList" class="active-row">
            <td>{{report.id}}</td>
            <td>{{report.provider}}</td>
            <td>{{report.provider_id}}</td>
            <td>Rs. {{report.profit}}</td>
                       
        </tr>
       
    </tbody>
</table> -->

