<div class="col-md-6 offset-md-3 mt-5" style="padding-top: 20px;">

    <h2 style="color:tomato">Banking Services </h2>

    <p style="text-align: justify;">Convert your shop into Mini Bank through AePS, Micro-ATM & Money Transfer. Provide cash withdrawal, domestic and Indo-Nepal money transfer to earn huge commissions</p>

    <h2 style="color:tomato">Aadhar ATM </h2>

    <p style="text-align: justify;"> With the PayMyTech app in your hands, mobile recharge could not have become easier. It not only is simple, fast, and convenient but equally hassle-free too.PayMyTech app enables you to complete every transaction request of your customers. We support almost every mobile operator and covers options from both ends of the spectrum namely Prepaid and Postpaid</p>

    <h2 style="color:tomato">Micro ATM </h2>

    <p style="text-align: justify;"> Are you tired of long queues, technical glitches, and cash unavailability at your nearest bank outlet. Well then, don’t worry about it anymore, because PayMyTech brings you Micro ATM feature which can magically convert your regular shop into an ATM outlet. With us, you would be able to provide basic ATM services like cash withdrawal and balance inquiry to your customers</p>

    <h2 style="color:tomato">Money Transfer </h2>

    <p style="text-align: justify;"> At PayMyTech, we understand your concerns and try to come up with solutions for addressing those issues. We realized that sending money to your friends and family was still a difficult task for many people and for solving that problem, we bring you the PayMyTech money transfer feature. This can be used to send money anywhere across India and Nepal. It is highly safe, secure, and reliable</p>

</div>