<div class="col-md-6 offset-md-3 mt-5" style="padding-top: 20px;">

    <h2 style="color:tomato">Travel Services </h2>

    <p style="text-align: justify;">Now with the PayMyTech app, you can easily book tickets online from your smartphone without going anywhere else. We bring you a host of services like IRCTC Ticket Booking, Flight, and Hotel booking to name a few.</p>

    <h2 style="color:tomato">Flight Booking </h2>

    <p style="text-align: justify;"> First flight journeys are always memorable for any person in their lives. Now make this special moment for your customer even more special by providing them the seamless experience of booking their flight ticket. With the PayMyTech app, you can book flight tickets both domestic and international from your phone. Our dedicated team of customer service agents makes sure that this process is hassle-free for you and your customers</p>

    <h2 style="color:tomato; padding-top: 30px;">100% Assurance</h2>

    <p style="text-align: justify;">At PayMyTech, we provide 100% assurance. If you have any issue, your money is immediately refunded. Sit back and enjoy your booking.</p>

</div>