<div class="col-md-6 offset-md-3 mt-5" style="padding-top: 20px;">

    <h2 style="color:tomato">Bill Payments & Recharges </h2>

    <p style="text-align: justify;">Now help your customers by making bill payments and recharge at the snap of your fingertips with the help of the PayMyTech App. PayMyTech enables any retailer to make any recharge and bill payments associated with Electricity, Water, Gas, DTH, and Telecomm to name a few. Thereby, Pay1 converts any shop into a one-stop solution for any of the customer needs associating with bill payment and recharge</p>

    <h2 style="color:tomato">Mobile Recharge </h2>

    <p style="text-align: justify;"> With the PayMyTech app in your hands, mobile recharge could not have become easier. It not only is simple, fast, and convenient but equally hassle-free too.PayMyTech app enables you to complete every transaction request of your customers. We support almost every mobile operator and covers options from both ends of the spectrum namely Prepaid and Postpaid</p>

    <h2 style="color:tomato">DTH Recharge </h2>

    <p style="text-align: justify;"> Now, don’t let anything come in between your customer and their entertainment. With the PayMyTech app, choose from a variety of operators like Airtel DTH, Dish TV, Videocon D2h, and Tata sky to name a few, and select the best package for your customer depending on your customer’s needs. So choose PayMyTech for doing DTH recharge anytime and anywhere</p>

    <h2 style="color:tomato">Utility Recharge </h2>

    <p style="text-align: justify;"> Gone are the days when anyone used to stand in a long queue, waiting for hours just for filling their monthly bills namely Electricity, Water, and Gas. With the PayMyTech app in your mobile, you can ease your customer’s life and save their time by giving them the option of filling their monthly bill/ dues through your smartphone, PayMyTech app, and most importantly through you !</p>

</div>