<div style="margin-left: 20px;margin-top: 50px;">
<h2 class="bg-light mb-2">Retailer List</h2>

<!-- 
<p-table [value]="retailerList" style="height: auto; 
 
 overflow-y: scroll;" [scrollable]="true"  [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        Retailer List
          </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn>Dist Code</th>
          
        <th  style="width: 30%">
           Dist Outlet Name
            </th>

        <th style="width: 30%">Retailer Unique Code</th>

        <th style="width: 30%">Customer Name</th>

        <th style="width: 30%">Outlet Name</th>

        <th style="width: 30%">Location</th>
        <th style="width: 30%">State</th>
        <th style="width: 30%">Sales Person</th>

        <th style="width: 30%">Address</th>
        <th style="width: 30%">PinCode</th>
        <th style="width: 30%">City</th>

        <th style="width: 30%">Mobile</th>
        <th style="width: 30%">Email</th>

        <th style="width: 30%">PanCard</th>

        <th style="width: 2.25em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
       

    
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-dist>
      <tr>
        <td style="width: 30%">{{dist.uniqueCode}}</td>
        <td style="width: 30%">{{dist.distributorName}}</td>

        <td style="width: 30%">{{dist.userName}}</td>
        <td style="width: 30%">{{dist.firstName}}</td>

        <td style="width: 30%">{{dist.outletName}}</td>
        <td style="width: 30%">{{dist.location}}</td>

        <td style="width: 30%">{{dist.state}}</td>
        <td style="width: 30%">{{dist.salesPerson}}</td>

        <td>{{dist.address}}</td>
        <td>{{dist.pinCode}}</td>
        <td>{{dist.city}}</td>

        <td>{{dist.mobile}}</td>
        <td>{{dist.emailAddress}}</td>

        <td>{{dist.panCard}}</td>

        <td> <p-tableCheckbox [value]="dist.servicesEnabled"></p-tableCheckbox> </td>

        
        

       

                   
      </tr>
  </ng-template>
</p-table> -->



 <table class="styled-table retailer-table">
    <thead>
        <tr>
            <th style="width: 30%">Dist Code</th>
          
        <th  style="width: 30%"> Dist Outlet Name </th>

        <th style="width: 30%">Retailer Unique Code</th>

        <th style="width: 30%">Customer Name</th>

        <th style="width: 30%">Outlet Name</th>

        <th style="width: 30%">Location</th>
        <th style="width: 30%">State</th>
        <th style="width: 30%">Sales Person</th>

        <th style="width: 30%">Address</th>
        <th style="width: 30%">PinCode</th>
        <th style="width: 30%">City</th>

        <th style="width: 30%">Mobile</th>
        <th style="width: 30%">Email</th>

        <th style="width: 30%">PanCard</th>

            
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ret of retailerList" class="active-row">
            <td>{{ret.uniqueCode}}</td>
            <td>{{ret.distributorName}}</td>
    
            <td>{{ret.userName}}</td>
            <td >{{ret.firstName}}</td>
    
            <td>{{ret.outletName}}</td>
            <td>{{ret.location}}</td>
    
            <td>{{ret.state}}</td>
            <td>{{ret.salesPerson}}</td>
    
            <td>{{ret.address}}</td>
            <td>{{ret.pinCode}}</td>
            <td>{{ret.city}}</td>
    
            <td>{{ret.mobile}}</td>
            <td>{{ret.emailAddress}}</td>
    
            <td>{{ret.panCard}}</td>
    
            
            
        </tr>
       
    </tbody>
</table> 

</div>