<div class="main-content">
<div class="shadow main-header">
<h2>DTH --> Recharge</h2>
</div>

<div class="shadow main-body">
    
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !customerid.valid }">
       
        <input type="text" placeholder="DTH CustomerID" class="form-control" name="customerid" [(ngModel)]="CustomerID" #customerid="ngModel" required />
        <div *ngIf="f.submitted && !customerid.valid" class="help-block">DTH CustomerID is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !amount.valid }">
       
        <input type="number" placeholder="Amount" class="form-control" name="amount" [(ngModel)]="Amount" #amount="ngModel" required />
        <div *ngIf="f.submitted && !amount.valid" class="help-block">Amount is required</div>
    </div>
    
    
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !provider.valid }">
        
        <select class="form-control" (change)="getProviderName($event)" name="provider" [(ngModel)]="ProviderId" #provider="ngModel" required>
          <option [disabled]="ProviderId" value="undefined">Select Provider</option>
        
          <option *ngFor="let pvd of providerList" [value]="pvd.providerID">{{pvd.providerName}}</option>
        </select>
        <div *ngIf="f.submitted && !provider.valid" class="help-block">Provider is required</div>
    </div>
   
   

    <div class="row">
      <div class="div-marginlt">
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit
      </button>
      </div>

    </div>

    <div class="div-marginlt">
<div class="form-group">
      <button class="btn btn-primary" routerLink="/sidebar/home/utility"> Cancel </button>
    </div>

  </div>
      
    </div>


    
</form>



  
    
  </div>

</div>