<div class="col-md-6 offset-md-3 mt-5" style="padding-top: 20px;">
    <h2 style="color:tomato">About Us </h2>
<p style="text-align: justify;">
    In any corner of our country facing any direction, we will certainly find an independent unorganized retailer sitting behind a counter selling everyday provisions. They are the Mom and Pop stores or the Kirana stores which constitute to 95% of the retail market in India. While this sector has the deepest market penetration especially in the Indian hinterland, their growth has been inhibited due to lack of technological support to make them join the mainstream modern retail trade.
</p>

<p style="text-align: justify;">
    Organizing the unorganized retail sector of India is what PayMyTech strives to achieve. Through our retail tech platform, we aim to provide these retailers with digital, financial and business solutions such that each small business and retail store can use technology to expand their business offerings. PayMyTech also aims to create more jobs by aiding micro-entrepreneurship especially in the rural and semi-urban India.
</p>

<p style="text-align: justify;">
    PayMyTech provides an easy to use technology via an app or web portal which gives retailers access to new products in the market, technology to manage their store, become a digital payment and banking point and better monetize the physical infrastructure. PayMyTech partners with products and services companies to launch their products on the PayMyTech platform, making it a superior distribution channel. Our platform with its huge retailer network reduces the cost of distribution and time-to market for the product and service providers. This reduces time and cost of distribution and also increases the efficiency of Marketing for the companies riding on our platform.
</p>

</div>

