<div class="main-content">

<div class="shadow main-header">
    <h2>Change Password</h2>
</div>

<div class="shadow main-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      
          
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !oldpassword.valid }">
                
                <input type="password" placeholder="Enter Old password" class="form-control" name="oldpassword" [(ngModel)]="OldPassword" #oldpassword="ngModel" required />
                <div *ngIf="f.submitted && !oldpassword.valid" class="help-block">Old Password is required</div>
            </div>
         
      
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            
            <input type="password" placeholder="Enter New password" class="form-control" name="password" [(ngModel)]="Password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">New Password is required</div>
        </div>
    
    
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmpassword.valid }">
            
            <input type="password" placeholder="Confirm password" class="form-control" name="confirmpassword" [(ngModel)]="ConfirmPassword" #confirmpassword="ngModel" required />
            <div *ngIf="f.submitted && !confirmpassword.valid" class="help-block"> Password is required</div>
        </div>
      
        <div class="row">
          <div class="form-group" style="padding-left: 120px;">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Submit
          </button>
          </div>
    
    <div style="padding-left: 15px;" class="form-group">
          <button class="btn btn-primary" routerLink="../login"> Cancel </button>
        </div>
          
        </div>
      </form>
      
      
    </div>
        
          
</div>    
      
      