<div class="main-content">
    <div>
    <h4 class="main-header">User Session Details</h4>
    <button (click)="addSession()" class="btn btn-primary" style="margin-left: 900px;">Add User Token</button>
    </div>
    
    


     <p-table [value]="sessionList">
        <!-- <ng-template pTemplate="caption">
          
              </ng-template> -->
      <ng-template pTemplate="header">
          <tr>
            <th>User Name</th>
                   
            <th>User Token</th>

            <th>IP Address1</th>
                   
            <th>IP Address2</th>

            <th>IP Address3</th>
                   
            <th>Add Date</th>

            <th>Update Date</th>
    
            
           
        <th ></th>
        <!-- <th ></th> -->
    
        
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sessionList>
          <tr>
            <td>{{sessionList.userName}}</td>
            <td>{{sessionList.userToken}}</td>

            <td>{{sessionList.ipAddress1}}</td>
            <td>{{sessionList.ipAddress2}}</td>

            <td>{{sessionList.ipAddress3}}</td>
           
            
            <td>{{sessionList.addDate}}</td>

            <td>{{sessionList.updateDate}}</td>
    
            
    
            
            
           <td> <a (click)="editSession(sessionList)" class="btn btn-sm btn-primary mr-1">Update IP</a></td>
            
           <!-- <td> <a class="btn btn-sm btn-primary mr-1">Delete</a></td>             -->
          </tr>
      </ng-template>
    </p-table> 
    
    
    <p-dialog header="Update User IP Address" [(visible)]="display">
         
      
         
    
      <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit(f.form)" novalidate>
           
        <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !ipaddress1.valid }">
            
          <input type="text" placeholder="IP Address1" class="form-control" name="ipaddress1" [(ngModel)]="selectedSession.ipAddress1" #ipaddress1="ngModel" required />
         
          <div *ngIf="f.submitted && !ipaddress1.valid" class="help-block">IP Address 1 is required</div>
      </div>
    
    
      <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !ipaddress2.valid }">
            
        <input type="text" placeholder="IP Address2" class="form-control" name="ipaddress2" [(ngModel)]="selectedSession.ipAddress2" #ipaddress2="ngModel" required />
       
        <div *ngIf="f.submitted && !ipaddress2.valid" class="help-block">IP Address 2 is required</div>
    </div>

    <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !ipaddress3.valid }">
            
        <input type="text" placeholder="IP Address3" class="form-control" name="ipaddress3" [(ngModel)]="selectedSession.ipAddress3" #ipaddress3="ngModel" required />
       
        <div *ngIf="f.submitted && !ipaddress3.valid" class="help-block">IP Address 3 is required</div>
    </div>

   
        
    
    <div class="form-group">
     <div class="row">
            <button class="btn btn-primary" style="margin-left: 20px;">Update</button>
            <button class="btn btn-primary" (click)="closePopup()" style="margin-left: 20px;">Cancel</button>
      </div>
    </div>
    
    
       
    
        </form> 
    
      </p-dialog>
      
      <p-dialog header="Add User Session Details" [(visible)]="displayNew">
         
      
         
    
        <form name="form" #f1="ngForm" (ngSubmit)="f1.form.valid && onSubmit2()" novalidate>
             
           
            <div class="form-group"  [ngClass]="{ 'has-error': f1.submitted && !username.valid }">
            
                <input type="text" placeholder="User Name" class="form-control" name="username" [(ngModel)]="model.userName" #username="ngModel" required />
               
                <!-- <div *ngIf="f1.submitted && !username.valid" class="help-block">User Name is required</div> -->
            </div>
          
          
            <div class="form-group"  [ngClass]="{ 'has-error': f1.submitted && !usertoken.valid }">
            
                <input type="text" placeholder="User Token" class="form-control" name="username" [(ngModel)]="model.userToken" #usertoken="ngModel" required />
               
                <!-- <div *ngIf="f1.submitted && !usertoken.valid" class="help-block">User Token is required</div> -->
            </div>



            <div class="form-group"  [ngClass]="{ 'has-error': f1.submitted && !ipaddress1.valid }">
            
                <input type="text" placeholder="IP Address1" class="form-control" name="ipaddress1" [(ngModel)]="model.ipAddress1" #ipaddress1="ngModel" required />
               
                <!-- <div *ngIf="f1.submitted && !ipaddress1.valid" class="help-block">IP Address 1 is required</div> -->
            </div>
          
          
            <div class="form-group"  [ngClass]="{ 'has-error': f1.submitted && !ipaddress2.valid }">
                  
              <input type="text" placeholder="IP Address2" class="form-control" name="ipaddress2" [(ngModel)]="model.ipAddress2" #ipaddress2="ngModel" required />
             
              <!-- <div *ngIf="f1.submitted && !ipaddress2.valid" class="help-block">IP Address 2 is required</div> -->
          </div>
      
          <div class="form-group"  [ngClass]="{ 'has-error': f1.submitted && !ipaddress3.valid }">
                  
              <input type="text" placeholder="IP Address3" class="form-control" name="ipaddress3" [(ngModel)]="model.ipAddress3" #ipaddress3="ngModel" required />
             
              <!-- <div *ngIf="f1.submitted && !ipaddress3.valid" class="help-block">IP Address 3 is required</div> -->
          </div>
      
      
          

       <div class="form-group">
       <div class="row">
              <button class="btn btn-primary" style="margin-left: 20px;">Add</button>
              <button class="btn btn-primary" (click)="closePopup2()" style="margin-left: 20px;">Cancel</button>
        </div>
      </div> 
      
      
         
      
          </form> 
      
        </p-dialog>
    
    </div>