


 <nav class="navbar navbar-expand-md bg-theme navbar-dark bg-sexyblue">
    <div class="container clearfix" *ngIf="showAdmin">
    <a class="navbar-brand navbar-responsive" style="font-size:x-large;">PayMyTech</a>
  
    <button class="navbar-toggler" type="button" (click)="clickMobmode()"  data-toggle="collapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="navbar-brand" routerLink="./dashboard">Dashboard</a>
      </li>    


      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;" id="navbardrop" data-toggle="dropdown">
         Master
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="./operatorDetail">Operators</a>
          <a class="dropdown-item" routerLink="./opUpdate">Operators Update</a>
          <!-- <a class="dropdown-item" routerLink="./circleOpcode">CircleWise OpCode</a> -->
          <a class="dropdown-item" routerLink="./bankDetail">Bank</a>
          <a class="dropdown-item" routerLink="./transactionDetail">Transaction API</a> 
          <a class="dropdown-item" routerLink="./schemeDetail">Scheme</a>
          <a class="dropdown-item" routerLink="./newsDetail">News Update</a>
          <a class="dropdown-item" routerLink="./smsDetail">SMS API</a>
          <a class="dropdown-item" routerLink="./capDetail">CAP Balance</a>
          <a class="dropdown-item" routerLink="./circleDetail">Circles</a>
          <a class="dropdown-item" routerLink="./bannerDetail">Banner</a>
          <a class="dropdown-item" routerLink="./ciplDetail">CIPL Recharge Plans</a>
          <a class="dropdown-item" routerLink="./lowBalance">Low Balance Alert</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;" id="navbardrop" data-toggle="dropdown">
         Setting's
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="./mobComm">Mobile Recharge Commission</a>
          <a class="dropdown-item" routerLink="./DthComm">DTH Recharge Commission</a>

          <a class="dropdown-item" routerLink="./apiForward">API Forward</a>
          <!-- <a class="dropdown-item" routerLink="./apiForwardScheme">API Forward Scheme</a> -->

          <a class="dropdown-item" routerLink="./sendSMS">Send SMS</a>
          <a class="dropdown-item" routerLink="./credits">Credits</a>

          <a class="dropdown-item" routerLink="./debits">Debits</a>
          <a class="dropdown-item" routerLink="./userTokens">User Tokens</a>
          
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;" id="navbardrop" data-toggle="dropdown">
         Management
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="./dist">Manage Distributor</a>
          <a class="dropdown-item" routerLink="./viewRetailer">Manage Retailer</a>
          <a class="dropdown-item" routerLink="./manageUser">Manage User</a>
          <a class="dropdown-item" routerLink="./manageKYC">Manage KYC</a>
          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;" id="navbardrop" data-toggle="dropdown">
         Reports
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="./reportRetailer">Retailer Report</a>
          <a class="dropdown-item" routerLink="./reportDist">Distributor Report</a>

          <a class="dropdown-item" routerLink="./TranxReport">All Recharge Transaction Report</a>

          <a class="dropdown-item" routerLink="./MobTranx">Mobile Recharge Transaction Report</a>

          <a class="dropdown-item" routerLink="./DthTranx">DTH Recharge Transaction Report</a>
         
          <a class="dropdown-item" routerLink="./liveTranx">Live Transaction Report</a>

        </div>
      </li>
  

      <li class="nav-item">
        <a class="navbar-brand" href="https://payu.in/pay/E05E725C3A3E10D582F951BD31ECA66D" target="_blank" >Credit Transfer </a>
      </li> 
  
      <li class="nav-item">
        <a class="navbar-brand" (click)="logout()">Logout</a>
      </li>  
  
      
      
  
  
    </ul>
  
  </div>
  
  </div>



  <div class="container clearfix" *ngIf="showDist">
    <a class="navbar-brand navbar-responsive" style="font-size:x-large;">PayMyTech</a>
  
    <button class="navbar-toggler" type="button" (click)="clickMobmode()"  data-toggle="collapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-left: 70px;">
    <ul class="navbar-nav">
     

      <li class="nav-item dropdown">
        <!-- <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;" id="navbardrop" data-toggle="dropdown">
         Reports
        </a> -->

        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;"  id="navbardrop" data-toggle="dropdown">
          {{user.firstName}}
        </a>
        
      </li>

      <li class="nav-item dropdown">
        
        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;"  id="navbardrop" data-toggle="dropdown">
         Transaction Report
        </a>

        <div class="dropdown-menu">
         
          <a class="dropdown-item" routerLink="./TranxReport">All Recharge Transaction Report</a>

          <a class="dropdown-item" routerLink="./MobTranx">Mobile Recharge Transaction Report</a>

          <a class="dropdown-item" routerLink="./DthTranx">DTH Recharge Transaction Report</a>
         
         
        </div>
        
      </li>
  
      <li class="nav-item">
          <a class="navbar-brand" routerLink="./reportRetailer">Retailer Sales Report</a>
          
      </li>
  
  
      <li class="nav-item dropdown">
        

        <a class="navbar-brand dropdown-toggle" (click)="toogleOpen()" style="color: white;"  id="navbardrop" data-toggle="dropdown">
          Commission Setting
        </a>
        <div class="dropdown-menu">
         
          <a class="dropdown-item" routerLink="./mobComm">Mobile Recharge Commission</a>
          <a class="dropdown-item" routerLink="./DthComm">DTH Recharge Commission</a>
         
         
        </div>
      </li>

      <li class="nav-item">
        <a class="navbar-brand" href="https://payu.in/pay/E05E725C3A3E10D582F951BD31ECA66D" target="_blank" >Credit Transfer </a>
      </li> 


      <li class="nav-item">
        <a class="navbar-brand" (click)="logout()">Logout</a>
      </li>  
  
      
      
  
  
    </ul>
  
  </div>
  
  </div>


    
  </nav> 
  
  
  <div>
      <router-outlet></router-outlet>
  </div>
  
  
  <!-- <div id="footer" style="
   position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
    
      margin-top: 50px;
  background:#000; text-align: center;">
  
  <div class="col-md-12">
    <div class="center" style="display: inline-flex;margin-top:15px ;">
    <p style="color:#fff">  @CopyRight 2021  </p>
    <a routerLink="./terms" style="color:#fff">|  Terms & Conditions |</a>
    <a routerLink="./faq" style="color:#fff">  FAQ  |</a>
  </div>
  </div>
  
  </div>  -->
  
  
    
  
  
  
  
  
  
    
    